* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

main {
  padding: 36px;
}

nav {
  display: flex;
  background: #2c3e50; /* fallback for old browsers */
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);

  color: white;
  padding: 10px;
  padding-left: 20px;
  align-items: center;
}

nav > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: #2c3e50; /* fallback for old browsers */
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
